.fetch-container{
    background-color: black;
    height: 100vh;
    color: #fff;
    text-align: center;
}

label{
    display: block;
}

.signUp{
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.error{
    color: red;
    font-weight: bold;
}

.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dark{
    background-color: black;
    color: #fff;
}